*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #edeaFF;
}

.stopwatch {
    width: 90%;
    margin: 200px auto 0;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.stopwatch h1 {
    margin-top: 30px;
    color: #fff;
    font-size: 3rem;
}

.btn {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.btn i {
    cursor: pointer;
}

#play {
    border-radius: 50%;
    background-color: orangered;
    font-size: 7rem;
    height: 100%;
    color: #fff;
    padding: 6px;
}

#resetter, #stopper {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50%;
}
#reset, #stop {
font-size: 3rem;
}